.Section {
  width: var(--box-width);
  margin: 10px auto 0 auto;
  box-shadow: var(--box-shadow);
  box-sizing: border-box;
  background-color: var(--container-bg);
  padding: 10px;
}

.Section button {
  border: 1px solid #ccc;
  color: pink;
  background-color: hotpink;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  font-size: large;
  margin-right: 15px;
}

.Section button:hover {
  background-color: red;
  cursor: pointer;
}

.TopBar {
  padding: 10px;
}

.TopBar:hover {
  cursor: pointer;
}

.SectionTitle {
  font-weight: bold;
  font-size: large;
}

.SectionTitle:hover {
  text-decoration: underline;
  cursor: pointer;
}

.SectionData {
  margin-top: 20px;
}
