.TextArea {
  width: 90%;
  padding: 10px;
  text-align: center;
  margin: 20px auto 0 auto;
}

.MessageArea {
  width: 70%;
  min-height: 100px;
  padding: 5px;
  margin: 0 auto;
  height: 100%;
  overflow: auto;
  max-height: 500px;
  background-color: rgb(90, 90, 90);
  border: 1px solid gold;
  border-radius: 10px;
}

.FormArea {
  margin-top: 20px;
}

.InputField {
  width: 60%;
}