.Card {
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}

.Card > img {
  border: 3px solid #ffd06c;
  border-radius: 5%;
}

.DescriptionPaper {
  width: 60%;
  padding: 5px 10px 5px 10px;
  border: 1px solid white;
}
