.Home {
    margin: 76px auto;
    width: 30%;
    text-align: center;
    box-shadow: var(--box-shadow);
    border: var(--box-border);
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--container-bg);
}
