.BorderedBox {
    margin: 76px auto 20px auto;
    width: var(--box-width);
    text-align: center;
    box-shadow: var(--box-shadow);
    border: var(--box-border);
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--container-bg);
    word-break: break-word;
}

.BorderedNext {
    margin-top: 10px;
    text-align: left;
}

.TopText {
    font-weight: bold;
    font-size: 100px;
    margin: -2px;
}

.MidText {
    font-size: 20px;
    margin: 5px;
}

.BotText {
    text-align: center;
    font-size: 20px;
    margin: -2px;
}

.Input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}