name: Run E2E Tests â³

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  cypress-run:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Create env file
        run: |
          touch src/.env.local
          echo REACT_APP_API_URI=${{ secrets.FIREBASE_PRIVATE_KEY }} >> .env.local
          echo REACT_APP_CHAT_HOST=${{ secrets.FIREBASE_CLIENT_EMAIL }} >> .env.local
      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          start: yarn dev
          working-directory: src
          wait-on: 'http://localhost:3000'
          wait-on-timeout: 120 
          browser: chrome
          spec: cypress/integration/*.js
